/* region base */
* {
  font-family: DejaVu Sans, sans-serif;
}
/*.fl-left {float: left;}
.fl-right {float: right;}
.m-auto {margin-left: auto; margin-right: auto;}
.mt-2 {margin-top: 1rem;}
.pt-1 {padding-top: 0.5rem;}
.pt-2 {padding-top: 2rem;}
.d-block {display: block;}
.d-inline {display: inline;}
.d-inline-block {display: inline-block;}
.bl {background-color: gray;}
.small {font-size: 0.7rem}
.t-center, .text-center {text-align: center;}
.bold {font-weight: bold;}
.w-50 {width:50%;}
.auto-page-break {page-break-inside: avoid;}*/
/* endregion */

.mb-20 { margin-bottom: 20px; }
.text-center { text-align: center; }
.w-80 { width: 80%; }
.w-100 { width:100%; }

.fz-8 { font-size: 8px; }
.fz-10 { font-size: 10px; }
.mt-100 { margin-top: -100px }

p, td, div {
  font-size: 14px;
  margin: 0;
}
